.block{
    display: flex;
    align-items: center;
    padding: 6px 8px;
    background-color: #0084CF;
    color:white;
    border-radius: 6px;
    gap: 8px;
    font-size:15px;
}

.block input{
    width: 32px;
    border-bottom: 2px solid #00A3FF;
    text-align: center;
}

.block input::-webkit-inner-spin-button{
    display: none;
}