.FooterPanel {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 15%;
    width: 100%;
}


.Levels {
    background-color: #007DC6;
    display: flex;
    align-items: center;
    padding-top: 10px;
    overflow: auto;

}

.LevelsContainer {
    display: flex;
    align-items: center;
}

.BtnAddLevel {
    background-color: transparent;
    margin-left: 6px;
    padding: 0px;
    cursor: pointer;
    width: fit-content;
    flex: none;
}

.FluxoLogic {
    background-image: url('/icons/bg-fluxo.jpg');
    background-color: #001D2E;
    background-blend-mode: multiply;
    color: white;
    flex: 1;
}

.itemBlockFluxoContainer {
    display: flex;
    height: 100%;
    padding: 10px 30px;
    overflow: auto;
    align-items: center;
}



/* Breakpoint para trocar orientação */
@media(max-width: 650px) {
    .FooterPanel {
        flex-direction: row-reverse;
        height: 100%;
        width: 20%;
    }

    .Levels {
        height: 100%;
        width: 50%;
        align-items: start;
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .LevelsContainer {
        align-items: start;
        flex-direction: column;
        margin-bottom: 10px;


    }

    .FluxoLogic {
        width: 50%;
    }

    .itemBlockFluxoContainer {
        align-items: start;
        flex-direction: column;
        padding: 30px 0px;
    }
}