.playgroundArea {
    flex: 1;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.exportImportProject {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px 6px;
    user-select: none;
}

.exportImportProjectActive {
    background: #ffb522;
}

.exportImportProjectActive img {
    filter: invert();
}

.exportImportMenu {
    padding: 6px;
    background-color: white;
    position: absolute;
    left: 10px;
    transform: translateX(-100%);
    top: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    min-width: 130px;
}

.exportProject,
.importProject {
    cursor: pointer;
    padding: 4px;
    background-color: transparent;
}

.exportProject:hover,
.importProject:hover {
    color: #707070;
}

.panelRunFunctions {
    background-color: #101010;
    padding: 8px 20px;
    border-radius: 0px 0px 20px 20px;
    top: 0px;
    z-index: 4;
    left: 50px;
    position: absolute;
    font-weight: bold;
}

.btnRunFunction {
    cursor: pointer;
    background-color: transparent;
}

.btnRunFunction:disabled {
    opacity: 0.5;
    cursor: default;
}

.boardPlayground {
    background-color: white;
    width: 700px;
    height: 400px;
    overflow: auto;
    position: relative;
}

@media(max-width: 1100px) {
    .boardPlayground {
        width: 500px;
    }
}

@media (max-width: 800px) {
    .boardPlayground {
        width: 320px;
    }
}

/* Breakpoint para trocar orientação */

@media(max-width: 650px) {

    .boardPlayground {
        width: 100%;
        margin: 0px 10px;
        height: 350px;
    }

    .panelRunFunctions {
        padding: 4px 10px;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        padding: 12px 8px;
        opacity: 0.9;

        right: 0px;
        top: 10px;
        left: unset;
        border-radius: 20px 0px 0px 20px;

    }

    .btnRunFunction img {
        width: 16px;
        height: 16px;
        transform: rotate(90deg);
    }


    .exportImportProject {
        right: 15px;
        top: unset;
        bottom: 25px;
    }

    .exportImportMenu {
        writing-mode: vertical-lr;
        min-width: unset;
        min-height: 130px;
        top: unset;
        left: unset;
        transform: translate(-100%, -100%);
        font-size: 13px;
    }

}