.btnActionMenu{
    background-color: var(--cor_secundary);
    padding: 8px 10px;
    border-radius: 50%;
    width: fit-content;
    position: relative;
    cursor: pointer;
}


.btnActionMenu:focus{
    outline: 2px solid rgb(255, 201, 54);
}
