.containerBlock{
    margin-bottom: 10px;
}

.cbHeader{
    display:flex;
    align-items: center;
    background-color: #00314E;
    padding: 6px 12px;
    border-radius: 0px 10px 0px 10px;
    color:white;
    margin-bottom: 15px;
}

.cbConfig{
    margin-left: auto;
    background: none;
    cursor: pointer;
}

.cbBlocks{
    margin-left: 20px;
}

.cbBlocksContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.cbAddAction{
    cursor: pointer;
    background-color: transparent;
    padding:0px;
}