.hw{
    display: flex;
}

.hwImageArea{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hwTextArea{
  flex:1;
  padding: 0px 30px;
}


.hwTitle{
    font-weight:bold;
    position: relative;
    margin-bottom: 25px;
    width: fit-content;
    font-size: 1.3em;
}

.hwTitle::after{
    position: absolute;
    content: '';
    display:block;
    background: #ffb522;
    height: 3px;
    top: 100%;
    transform: translateY(2px);
    width: 100%;
    border-radius: 4px;
}

.hwContent{
    font-size:15px;
    color:#303030;

}

.hwBlurImage{
    position: relative;
    z-index:2;
    transform: rotate(-5deg);
}



/*Mobile Styles Home */
@media(max-width: 800px){
    .hwBlurImage img{
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 620px){
    .hw{
        flex-direction: column;
        gap: 20px 0px;

    }

    .hwImageArea{
        width: 100%;
    }

    .hwTitle{
        font-size: 1.1em;
    }

}
